<panel>
  <div class="shell">
    <p>{ state.message }</p>
  </div>

  <script>
    export default {
      state: {
        message: "ready"
      }
    }
  </script>

  <style>
    .shell {
      border: 1px solid #222;
    }
  </style>
</panel>
